body {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-weight: bold;
    font-size: 1.2rem;
}

h4 {
    font-weight: bold;
    font-size: 1rem;
}

text {
    pointer-events: none;
    font-size: 8px;
}

#map {
    padding: 0;
    width: 70%;
    padding-right: 90px;
}

.map-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.state-data {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

a:hover path {
    stroke: yellow;
    stroke-width: 2;
}

.safe_democrat {
    fill: #244999;
}

.likely_democrat {
    fill: #577ccc;
}

.leans_democrat {
    fill: #8aafff;
}

.tilt_democrat {
    fill: #949bb3;
}

.safe_republican {
    fill: #d22532;
}

.likely_republican {
    fill: #ff5865;
}

.leans_republican {
    fill: #ff8b98;
}

.tilt_republican {
    fill: #cf8980;
}

.tossup {
    fill: gray
}

/*  */

.popup-header {
    margin-bottom: 0.5rem;
    text-align: center;
}

.trump {
    height: 40px;
    display: flex;
    gap: 3rem;
    background-color: #FFD6D9;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.trump p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


.harris {
    height: 40px;
    display: flex;
    gap: 3rem;
    background-color: #B9DCF8;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.harris p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*  */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10% 1rem 10%;
}

.header img {
    border: 2px solid black;
    display: block;
    max-width:300px;
    max-height:225px;
    width: auto;
    height: auto;
}

.electoral-bar-wrapper {
    width: 85%; /* Adjust as needed, this makes the middle section 40% of the container width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px; /* Adds some padding for spacing */
    box-sizing: border-box;
}

.candidates {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.electoral-bar span {
    font-weight: bold;
    font-size: x-large;
}

.electoral-bar {
    width: 100%;
    height: 3rem; /* Adjust the height of the electoral bar */
    overflow: hidden;
    position: relative;
}

.candidate {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: width 0.5s ease;
}

.trump-electoral {
    background-image: linear-gradient(to right, #d22532 80%, #e0e0e0 100%);
    left: 0;
}

.harris-electoral {
    background-image: linear-gradient(to left, #244999 80%, #e0e0e0 100%);
    right: 0;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header h3 {
    font-size: 18px;
    margin: 0;
}

/* Ensure the spans for electoral votes are visible */
.electoral-bar span {
    color: #e0e0e0;
    z-index: 1;
}

#harris-vote-totals h1 {
    float: right;
}

#harris-vote-totals h4 {
    float: right;
}

#trump-vote-totals h1 {
    float: left;
}

#trump-vote-totals h4 {
    float: left;
}

/*  */

.electoral-bar-split {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.33rem;
}

.candidate-section {
    display: flex;
    height: 30px;
    width: 100%;
}

.electoral {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
}

#harrisEV .safe {
    background-color: #244999;
}

#harrisEV .likely {
    background-color: #577ccc;
}

#harrisEV .lean {
    background-color: #8aafff;
}

#harrisEV .tilt {
    background-color: #949bb3;
}

#trumpEV .tilt {
    background-color: #cf8980;
}

#trumpEV .lean {
    background-color: #ff8b98;
}

#trumpEV .likely {
    background-color: #ff5865;
}
#trumpEV .safe {
    background-color: #d22532;
}

/*  */

@media (max-width: 1398px) {

    #map {
        padding: 0;
        width: 115%;
        padding-right: 8%;
    }

    .map-wrapper {
        display: flex;
        flex-direction: column;
    }

    .state-data {
        padding-left: 0;
        margin-top: 2rem;
        border-left: none;
        width: 100%;
    }

    .header {
        margin: 0 0 2rem 0;
    }

    .header img {
        max-width: 240px;
        max-height: 300px;
        width: 30%;
        height: 30%;
    }

    .harris-vote-totals h4 {
        float: right;
    }

    .electoral-bar {
        width: 100%;
        height: 1.5rem;
    }

    .electoral-bar span {
        font-size: medium;
    }

    #state-popup {
        -ms-transform: scale(0.7, 0.7); /* IE 9 */
        -webkit-transform: scale(0.7, 0.7); /* Safari */
        transform: scale(0.7, 0.7);
    }

    h1 {
        font-size: 1rem;
    }
    
    h2 {
        font-size: 0.8rem;
    }
    
    h4 {
        font-size: 0.8rem;
    }

}