body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-weight: bold;
    font-size: 1.2rem;
}

h3 {
    font-weight: bold;
    font-size: 1rem;
}

text {
    pointer-events: none;
}

.map-wrapper {
    display: flex;
    flex-direction: row;
}

#map {
    padding: 2rem;
    width: 70%;
    height: 80vh;
    border: 1px solid black;
}

.state-data {
    margin-left: 1rem;
    text-align: center;
    justify-content: center;
}

a:hover path {
    stroke: yellow;
    stroke-width: 2;
}

.safe_democrat {
    fill: #244999;
}

.likely_democrat {
    fill: #577ccc;
}

.leans_democrat {
    fill: #8aafff;
}

.tilt_democrat {
    fill: #949bb3;
}

.safe_republican {
    fill: #d22532;
}

.likely_republican {
    fill: #ff5865;
}

.leans_republican {
    fill: #ff8b98;
}

.tilt_republican {
    fill: #cf8980;
}

.tossup {
    fill: gray
}

/*  */

.popup-header {
    margin-bottom: 0.5rem;
    text-align: center;
}

.trump {
    height: 40px;
    display: flex;
    gap: 3rem;
    background-color: #FFD6D9;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.trump p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


.harris {
    height: 40px;
    display: flex;
    gap: 3rem;
    background-color: #B9DCF8;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.harris p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*  */

.electoral-bar {
    display: flex;
    height: 50px;
    background-color: lightgray;
    margin-bottom: 2rem;
}

.candidate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
}

.trump-electoral {
    background-color: #d22532;
    height: 100%;
}

.harris-electoral {
    background-color: #244999;
    height: 100%;
}

.candidate-wrapper {
    display: flex;
    justify-content: space-between;
}

.candidate-wrapper h1 {
    margin-bottom: 0.5rem;
}

.candidate-wrapper h3 {
    margin-bottom: 0.2rem;
}

.harris-vote-totals h1 {
    float: right;
}